*{
    margin:0;
    padding:0;
}
body {
    background-color: rgb(211, 205, 205);
    background-size: 100% 100%;
    font-family: 'Courier New', Courier, monospace;
}
/*for logo and navigation bar*/

a{
    text-decoration: none;
}
span {
    color: rgba(4, 5, 0, 0.904);
    font-size: 40px;
    font-style: inherit;
    font-weight: bold;
    line-height: 80px;
    padding-top: 50px;
    padding-left: 25px;
}
span:hover{
    color: rgb(216, 152, 197);
    filter: drop-shadow(20px 20px 10px rgb(155, 160, 155));
    cursor: pointer;
}
nav ul {
    float: right;
    margin-right: 20px;
}

nav ul li {
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
    margin-bottom: 0px;
}

nav ul li a {
    color: rgb(2, 2, 2);
    font-size: 17px;
}

nav ul li a:hover {
    color: rgb(248, 246, 248);
    background-color: black;
    border-radius: 8px;
    padding: 3px
}
/* For about*/
.h-about{
    padding-left: 24px;
}
.box{
    margin-right: 22px;
    padding: 22px;
}
.box p{
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.box img{
    padding-top: 12px;
    filter: drop-shadow(20px 20px 10px rgb(107, 110, 107));
}